.charity {
  padding-left: 0;
  margin-left: 5vw;
  margin-right: 5vw;
  list-style: none;
}

.charity__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
}

.charity__image-wrapper {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 140px;
  height: 140px;
  margin-right: 20px;
  background-color: yellowgreen;
  border-radius: 50%;
}

.charity__image {
  display: inline-flex;
  margin-top: 45px;
  text-align: center;
}

.charity__org-name {
  text-align: left;
  margin-bottom: 10px;
}

.charity__org-descr {
  text-align: left;
}
